name: CMake Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: sudo apt-get install -y make g++

    - name: Build the project using Makefile
      run: make
      
    - name: Make grader script executable
      run: chmod +x KVStoreGrader.sh

    - name: Run Key-value store grader and display output
      run: ./KVStoreGrader.sh 2>&1 | tee KVStoreGrader.log

    - name: Upload grader log 
      uses: actions/upload-artifact@v4
      with:
        name: KVStoreGrader-output
        path: KVStoreGrader.log
        retention-days: 30

